body{
    background-color: #9DC49C;
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 8px;
}

.list-group{
    color: #2F4858;
}

.list-group-item{
    color: #77AC95;
}